.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.letter, .enter, .backspace {
    background-color: rgb(204, 204, 204);
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: min(8vh,58px);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    touch-action: manipulation;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin: min(20px,1vh) 0;
}

#game {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.half {
    flex: 0.5;
}

.enter, .backspace {
    flex: 1.5;
    font-size: 12px;
}

.game-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

button {
    color: black;
}

.letterbox {
    border: 2px solid rgb(204, 204, 204);
    width: min(15vw,7vh);
    height: min(15vw,7vh);
    max-width: 70px;
    max-height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    user-select: none;
}

#board {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    align-items: center;
    height: min(7vh,51px);
}

#keyboard {
    margin: 0 8px;
    user-select: none;
}

.title {
    font-weight: 700;
    font-size: min(7vh, 7vw, 36px);
    text-transform: uppercase;
    text-align: center;
}

.pop-ups {
    display: flex;
    justify-content: center;
}

#help {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #888888;
    padding: 20px;
    width: min(80vw,500px);
}

.example-row {
    display: flex;
}

.example {
    font-size: 24px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 2px solid rgb(204, 204, 204);
    margin: 2px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#close {
    font-size: 30px;
    padding-right: 25px;
    cursor: pointer;
}

#w-close, #l-close {
    font-size: 30px;
    padding-right: 25px;
    cursor: pointer;
}

#settings-close {
    font-size: 30px;
    padding-right: 25px;
    cursor: pointer;
}

.w, .l, .u {
    color: white;
}

.w {
    background-color: rgb(106, 170, 100);
    border: 2px solid rgb(106, 170, 100);
}

.l {
    background-color: rgb(201, 180, 88);
    border: 2px solid rgb(201, 180, 88);
}

.u {
    background-color: grey;
    border: 2px solid grey;
}

#answer-win, #answer-lose {
    font-size: 30px;
    padding-bottom: 24px;
}

#play-again {
    display: none;
    justify-content: center;
    margin-top: 2vh;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

#winner, #loser {
    display: none;
    position: absolute;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px #888888;
    margin-top: 100px;
    width: min(80vw,500px);
}

.menu, .settings {
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    margin: 0 10px;
}

.settings {
    font-size: 24px;
}

.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 20px;
}

#settings {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px #888888;
    margin-top: 100px;
    width: min(70vw,300px);
}

#error, #not-a-word {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: 16px;
    border-radius: 10px;
    align-self: center;
    display: none;
    position: absolute;
    margin-top: 20vh;
    z-index: 1;
}